@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600|Quicksand);

body {
    background: #292426;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.container {
    width: 680px;
    margin: auto;
}

h1 {
    font-weight: normal;
    line-height: 1.1;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 3em;
}

.intro {
    font-size: 21px;
    width: 440px;
    margin-bottom: 40px;
}

.special_list {
    list-style: none;
    padding: 0;
    margin: 0 0 40px;
    counter-reset: list-index;
    overflow: hidden;

    /* li {
        font-family: 'Quicksand', sans-serif;
        width: 200px;
        float: left;
        margin-left: 40px;

        &:before {
            counter-increment: list-index;
            content: counter(list-index);
            text-align: center;
            display: block;
            font-size: 96px;
            line-height: 1;
        }

        h3 {
            text-align: center;
            font-weight: normal;
            text-transform: uppercase;
            font-size: 21px;
            margin-bottom: 10px;
        }

        p {
            font-family: "Open Sans", sans-serif;
            color: #fff;
            font-size: 13px;
        }

        &:nth-child(1) {
            color: rgb(197, 94, 61);
            margin-left: 0;
        }

        &:nth-child(2) {
            color: rgb(252, 226, 180)
        }

        &:nth-child(3) {
            color: rgb(242, 186, 175)
        }
    } */
}

.box {
    box-shadow:
        0 0 0 20px rgb(242, 186, 175),
        0 0 0 25px rgb(197, 94, 61),
        0 0 0 50px rgb(252, 226, 180);
    float: right;
    font-size: 120px;
    letter-spacing: 5px;
    width: 340px;
    line-height: 0.9;
    margin: 50px;
    text-align: center;
}

.explanation {
    font-size: 18px;
    color: rgb(156, 157, 156);
    width: 200px;
    overflow: hidden;
}

footer {
    clear: both;
    padding-top: 60px;
    color: rgb(158, 159, 158);
    text-align: right;
}